@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Archivo", Arial, Helvetica, sans-serif;
		@apply bg-zinc-900 text-zinc-300 scroll-smooth selection:bg-fuchsia-400/30 text-pretty;
	}

	header {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-zinc-100 font-bold;
	}

	code {
		font-family: "JetBrains Mono", "Courier New", Courier, monospace;
	}
}

@layer components {
	.type-nav-link {
		@apply font-header text-zinc-100 font-medium;
	}

	.type-sub-header {
		@apply font-header text-xs font-bold uppercase;
	}

	.type-header {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-zinc-100 font-bold;
	}

	.markdown {
		@apply flex flex-col gap-6 leading-relaxed;
	}

	.markdown p {
		@apply leading-relaxed;
	}

	.markdown h1 {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-4xl font-bold;
	}

	.markdown h2 {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-3xl font-bold;
	}

	.markdown h3 {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-2xl font-bold;
	}

	.markdown h4 {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-xl font-bold;
	}

	.markdown h5 {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-lg font-bold;
	}

	.markdown h6 {
		font-family: "Inter", Arial, Helvetica, sans-serif;
		@apply font-header text-sm font-bold;
	}

	.markdown hr {
		@apply border-zinc-700 my-4 w-full;
	}

	.markdown code {
		@apply rounded border border-zinc-700 bg-zinc-800 px-1 py-0.5 text-sm;
	}

	.markdown pre {
		@apply rounded border border-zinc-700 bg-zinc-800 p-1.5;
	}

	.markdown pre > code {
		@apply bg-none border-none;
	}

	.markdown h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply scroll-mt-40 type-header;
	}

	.markdown table {
		@apply table-auto border-collapse w-full whitespace-pre-line;
	}

	.markdown tr {
		@apply hover:bg-zinc-950;
	}

	.markdown tr,
	td,
	th {
		@apply border-y border-zinc-600 px-2 py-1.5;
	}

	.markdown th {
		@apply border-t-transparent;
	}

	.markdown ul {
		@apply list-disc list-inside;
	}

	.markdown ol {
		@apply list-decimal list-inside;
	}

	.custom-link {
		@apply text-yellow-500 hover:underline transition-colors duration-150 hover:text-yellow-400;
	}
}

#headline {
	background-image: url("/main.png");
}

.content-width {
	@apply max-w-screen-xl px-8 mx-auto;
}
